/* -----CSS Default Reset----- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --primay-color: #1b242b;
  --seconday-color: #c62f2d;
  --grey-shade-light: #f8fafb;
  --grey-shade-dark: #f2f5f7;
  --primary-shade-1: #1e2126;
  --primary-shade-2: #17191e;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

ul,
ol {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}

/* -----Utils----- */

.section-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
.mobile-section-container {
  width: 94%;
  margin: 0 auto;
}

/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
}
.hero-image img {
  width: 100%;
  height: 120vh;
  object-fit: cover;
  object-position: center;
}
.hero-section-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(27, 36, 43, 0.9) 14%,
    rgba(198, 47, 45, 0.24) 94%
  );
}
.hero-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  z-index: 15;
  transform: translateY(-60%);
}

.hero-text h1 {
  font-weight: 900;
  font-size: 6.8rem;
  letter-spacing: 6px;
  color: var(--grey-shade-dark);
  line-height: 66px;
  transform: translateX(0);
  -ms-animation-name: SLideInText;
  -moz-animation-name: SLideInText;
  -op-animation-name: SLideInText;
  -webkit-animation-name: SLideInText;
  animation-name: SLideInText;
  animation-delay: 1ms;
  -webkit-animation-delay: 1ms;
  -ms-animation-delay: 1ms;
  -moz-animation-delay: 1ms;
  -op-animation-delay: 1ms;
  -webkit-animation-delay: 900ms;
  -ms-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  -op-animation-duration: 900ms;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animheiation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hero-text h1 span {
  color: var(--primay-color);
}

@keyframes SLideInText {
  0% {
    transform: translateX(-200%);
  }
  25% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.hero-text p {
  font-weight: 400;
  font-size: 1.9rem;
  color: var(--grey-shade-light);
  margin: 20px 0 30px 0;
  width: 40%;
}
.hero-text p span {
  font-weight: 700;
  font-size: 1.9rem;
  background-color: var(--seconday-color);
  padding: 6px 8px;
}
.hero-text .response-time {
  margin: 30px 0;
  display: inline;
  color: #fff;
  background-color: var(--seconday-color);
  padding: 15px 28px;
  font-size: 1.6rem;
  font-weight: 400;
  transform: scale(1);
  transition: all 0.6s ease-in;
}

.hero-text .response-time:hover {
  transition: all 0.6s ease-in;
  background-color: var(--primay-color);
  color: var(--grey-shade-light);
  transform: scale(1.05);
}
/* Main Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
}
.pre-header {
  width: 100%;
  background-color: white;
  color: var(--primay-color);
}
.pre-header h2 {
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 8px;
  text-align: center;
}
.pre-header h2 span {
  color: var(--seconday-color);
  font-weight: 800;
}
/* Main Haeder For Pages Without Hero Section */
.header-position-static {
  position: static;
  background-color: var(--primay-color);
}
/* Sticky header */
.sticky-header {
  position: fixed;
  z-index: 20;
  background-color: var(--primay-color);
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.sticky-header span .nav-links {
  color: var(--grey-shade-light);
}
.sticky-header .header-container {
  align-items: flex-start;
}
.header-container {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  align-items: center;
}
.header-logo a img {
  padding: 10px 0;
  width: 190px;
  height: 130px;
  object-fit: contain;
  object-position: center;
}
.navbar-desktop span {
  display: inline-block;
  margin: 0;
}
.navbar-desktop span {
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.navbar-desktop span .nav-links {
  padding: 28px 15px;
  margin: 0;
  display: inline-block;
  font-weight: 500;
}

.navbar-desktop span a:hover {
  transition: all 0.3s ease-in;
  background-color: var(--seconday-color);
}
.navbar-desktop span .nav-links i {
  padding-left: 5px;
  font-size: 1rem;
}

.active-nav-link {
  background-color: var(--seconday-color);
}

/* Mobile Version Header */
.mobile-header {
  width: 100%;
  background-color: var(--primay-color);
  display: none;
}
.mobile-pre-header {
  text-align: center;
  background-color: var(--grey-shade-light);
}
.mobile-header h2 {
  color: var(--grey-shade-primary);
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 8px;
  text-align: center;
}
.mobile-header-logo {
  width: 140px;
}
.mobile-header h2 span {
  color: var(--seconday-color);
  font-weight: 800;
}
.mobile-main-header {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 25px 0 20px;
}

button.hamburger-menu {
  background-color: var(--seconday-color);
  outline: none;
  border: none;
  padding: 7px 9px;
  color: #ffffff;
  font-size: 2.3rem;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}
.background-overlay {
  display: none;
}

.background-overlay-show {
  display: block;
  background-color: var(--primay-color);
  opacity: 0.8;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -ms-animation-name: fadeOverlay;
  -moz-animation-name: fadeOverlay;
  -op-animation-name: fadeOverlay;
  -webkit-animation-name: fadeOverlay;
  animation-name: fadeOverlay;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes fadeOverlay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}
.hamburger-slider {
  position: fixed;
  background-color: var(--primay-color);
  z-index: 25;
  top: 0;
  left: 0;
  bottom: 0;
  /* height: 100vh; */
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  border-right: 1px solid var(--grey-shade-dark);
}
.active-mob-nav-link {
  color: var(--seconday-color) !important;
}
.hamburger-slider-show {
  transition: transform 0.4s ease-in-out;
  transform: translateX(0);
}
.hamburger-slider-close {
  justify-content: flex-end;
  align-items: center;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: row;
  padding: 10px 10px 0 10px;
}
.hamburger-slider-close-btn {
  outline: none;
  border: none;
  background: none;
}

.hamburger-slider-close-btn i {
  color: var(--seconday-color);
  font-size: 2.5rem;
}
.hamburger-slider > nav {
  display: flex;
  flex-direction: column;
  padding: 40px 50px 20px 30px;
  margin-right: 60px;
}

.hamburger-slider nav span .mobile-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(116, 113, 112, 0.6);
  color: var(--grey-shade-light);
  width: fit-content;
  font-size: 1.9rem;
  font-weight: 500;
  padding: 20px 0 0 0;
}

/* services-offering-section */
.services-offering-section {
  margin-bottom: 110px;
}

.services-offering-flexbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  transform: translateY(-60px);
}
.services-cards {
  position: relative;
  background-color: var(--primay-color);
  border-radius: 3px;
  color: var(--grey-shade-light);
  height: 280px;
  cursor: pointer;
}
.services-card-front {
  height: 280px;
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 5;
}
.services-cards .services-card-front i {
  font-size: 4.8rem;
}
.services-cards .services-card-front h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
}
.services-cards .services-card-front h2 span {
  font-size: 2rem;
  font-weight: 400;
  display: block;
}
.services-cards-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(30px);
  z-index: -1;
  height: 280px;
  border-radius: 3px;
  background-color: var(--seconday-color);
  padding: 30px 35px 13px 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.5s ease-in;
}
.services-cards-slide i {
  align-self: center;
  font-size: 2rem;
}
.services-cards:hover .services-cards-slide {
  position: absolute;
  cursor: pointer;
  transform: translateY(53%);
  transition: all 0.5s ease-in;
}

/* Get Started Section */
.get-started-section {
  padding-bottom: 60px;
}

.get-started-section h2 {
  text-align: center;
  font-size: 4.2rem;
  font-weight: 300;
  margin: 10px 0 40px 0;
  text-transform: uppercase;
}
.get-started-section h4 {
  text-align: center;
  font-size: 1.5rem;
  color: #747170;
  font-weight: 700;
  text-transform: uppercase;
}
.get-started-section form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  row-gap: 30px;
}
.get-started-section div h3 {
  text-align: left;
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.get-started-section div form div .input_labels {
  display: block;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 13px;
  font-size: 1.8rem;
}

.select-box {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.select-box .options-container {
  background: var(--primay-color);
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 4px;
  overflow: hidden;
  order: 1;
}

.selected {
  background: var(--primay-color);
  border-radius: 8px;
  margin-bottom: 8px;
  color: var(--grey-shade-light);
  position: relative;
  order: 0;
}

.selected::after {
  content: "";
  background: url("../assets/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option {
  cursor: pointer;
}
.selected {
  cursor: pointer;
  padding: 12px 24px;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
  padding: 12px 24px;
  display: block;
}

.select-box .option .radio {
  display: none;
}

.get-started-section div form button[type="submit"] {
  width: fit-content;
  outline: none;
  border: none;
}
.get-started-section div form button a {
  padding: 13px 18px;
  display: block;
  background-color: var(--seconday-color);
  color: var(--grey-shade-light);
  font-weight: 500;
  font-size: 1.6rem;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

.get-started-section div form button a:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}
.form-input-warning {
  color: var(--seconday-color);
  font-weight: 600;
  font-size: 1.7rem;
  padding: 15px 0;
  text-decoration: underline;
  display: none;
}
/* Company Overview */

.company-overview-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.company-overview-flex-left img {
  aspect-ratio: 16/7;
  object-fit: cover;
  object-position: bottom;
  border-radius: 20px;
}
.company-overview-flex-right {
  padding: 50px 0;
  background-color: rgba(30, 33, 38, 1);
  width: 100%;
  transform: translateY(-40px);
  transition: all 0.5s ease-in-out;
}
.company-overview-flex-right:hover {
  background-color: rgba(30, 33, 38, 0.9);
  transition: all 0.5s ease-in-out;
}
.company-overview-flex-right-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  color: var(--grey-shade-light);
}
.company-overview-flex-right-content h2 {
  transform: translateX(0);
  font-size: 3rem;
  line-height: 37px;
  text-align: right;
  width: 40%;
}

.company-overview-flex-right-content h2 span {
  display: block;
}
.company-overview-flex-right-content h2 span:first-child {
  color: var(--seconday-color);
}
.company-overview-flex-right-content div {
  padding-left: 40px;
}
.company-overview-flex-right-content div span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px 0 18px 0;
}

.company-overview-flex-right-content div span p {
  padding-left: 15px;
  font-weight: 500;
}

.company-overview-flex-right-content button {
  outline: none;
  border: none;
  background: none;
  margin-top: 40px;
  margin-left: 30px;
  display: block;
}

.company-overview-flex-right-content button a {
  background-color: var(--seconday-color);
  padding: 12px 25px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--grey-shade-light);
}
.company-overview-flex-right-content button a:hover {
  color: var(--seconday-color);
  background-color: transparent;
  border: 3px solid var(--seconday-color);
}
/* Steps Getting  Back*/
.steps-getting-back-section {
  margin: 100px auto;
}
.steps-getting-back-section h4 {
  text-align: center;
  font-size: 1.5rem;
  color: #747170;
  font-weight: 700;
  text-transform: uppercase;
}
.steps-getting-back-section h2 {
  text-align: center;
  font-size: 4.2rem;
  font-weight: 300;
  margin: 10px 0 40px 0;
  text-transform: uppercase;
}
.steps-getting-back-section-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
.steps-getting-back-section-grid div {
  border-radius: 10px;
  position: relative;
  height: 370px;
  overflow: hidden;
}
.steps-getting-back-section-grid div img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.steps-getting-back-section-grid div p {
  padding: 15px 20px 20px 20px;
  font-size: 1.7rem;
  font-weight: 600;
  position: absolute;
  color: var(--grey-shade-light);
  background-color: #c62f2d;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(260px);
  z-index: 0;
  line-height: 23px;
  height: 370px;
  transition: all 0.5s ease-in-out;
}
.steps-getting-back-section-grid div:hover p {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
  background-color: rgba(198, 47, 45, 0.7);
  font-size: 600;
  line-height: 37px;
  font-size: 3.3rem;
  padding: 40px 23px 20px 23px;
}
/* Call Us At Secton */
.call-us-at-section {
  width: 100%;
  background-color: var(--grey-shade-dark);
}
.call-us-at-section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  padding: 60px 0;
}
.call-us-at-section-left {
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.call-us-at-section-right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  grid-column: 2 / span 2;
}
.call-us-at-section-right h3 {
  font-size: 3.7rem;
  font-weight: 300;
}
.call-us-at-section-right h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--seconday-color);
}
.call-us-at-section-right p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #747170;
  margin: 10px 0 30px 0;
}
.call-us-at-section-right button {
  outline: none;
  background: none;
  border: none;
}

.call-us-at-section-right button {
  outline: none;
  background: none;
  border: none;
  display: block;
}
.call-us-at-section-right button a {
  background-color: var(--primay-color);
  padding: 12px 45px;
  font-size: 1.6rem;
  font-weight: 800;
  display: block;
  color: var(--grey-shade-light);
  cursor: pointer;
}
.call-us-at-section-right button a:hover {
  background-color: #fff;
  color: var(--grey-shade-primary);
}

/* Brands Available Section */
.brands-available-section {
  width: 100%;
  background-image: url(../assets/brands-background-img.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 25px;
}

.brands-available-section h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #fff;
  position: relative;
  z-index: 10;
  color: #fff;
  padding-top: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: var(--seconday-color);
}
.brands-available-section p {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  z-index: 10;
  line-height: 28px;
}
.brand-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 70px;
  row-gap: 60px;
  padding: 40px 0 70px 0;
  z-index: 5;
}
.brands-available-section::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(30, 33, 38, 0.3);
  border-radius: 30px;
}
.brand-collection div {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: var(--grey-shade-light);
  padding: 30px 30px;
  height: 100px;
  border-radius: 5px;
}
/* Testimonial Section */
.testimonial-section {
  margin: 60px auto 60px auto;
}
.testimonial-section h4 {
  text-align: center;
  font-size: 1.5rem;
  color: #747170;
  font-weight: 700;
  text-transform: uppercase;
}
.testimonial-section h2 {
  text-align: center;
  font-size: 4.2rem;
  font-weight: 300;
  margin: 10px 0 40px 0;
  text-transform: uppercase;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  padding: 10px 0 60px 0;
}
.swiper-slide {
  text-align: center;
  background-color: #0d141f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  border-radius: 5px;
  padding: 20px 40px;
  position: relative;
}
.swiper-slide div div {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--grey-shade-light);
  margin: 0 auto;
}
.swiper-slide div img {
  object-fit: cover;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  object-position: center;
}
.swiper-slide p {
  font-size: 1.9rem;
  line-height: 25px;
  color: var(--grey-shade-light);
  text-align: center;
  padding: 30px 0 30px 0;
}
.swiper-slide h3 {
  font-size: 2.2rem;
  color: var(--grey-shade-light);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--seconday-color);
}
.swiper-pagination {
  top: 95% !important;
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 12px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 12px)
  );
}
/* Footer */
footer {
  background-color: var(--primary-shade-1);
  width: 100%;
}
.footer-gridbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.5);
}

.footer-quick-links {
  text-align: center;
  margin: 35px 0 25px 0;
}

.footer-legal-links {
  text-align: center;
  margin: 25px 0 35px 0;
}
.footer-quick-links h2,
.footer-legal-links h2 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 18px;
  text-transform: capitalize;
}
.footer-quick-links nav,
.footer-legal-links nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-quick-links nav a,
.footer-legal-links nav a {
  display: block;
  padding: 0 30px;
  cursor: pointer;
}
.footer-quick-links nav a:hover,
.footer-legal-links nav a:hover {
  color: #ffffff;
}
.footer-address {
  background-color: var(--seconday-color);
  width: 100%;
}
.footer-address .section-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 60px 0;
}

.footer-address .section-container div {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 10px 0;
  color: #ffffff;
  width: 33%;
}
.footer-address .section-container div i {
  font-size: 4.2rem;
  margin-right: 25px;
}
.footer-address .section-container div h4 {
  font-size: 2rem;
  margin-right: 15px;
}
.footer-address .section-container div h4 span {
  font-size: 1.6rem;
  font-weight: 500;
}
.footer-social-media a i {
  color: var(--seconday-color) !important;
  font-size: 2.5rem !important;
}
.footer-social-media a i:hover {
  color: var(--grey-shade-light);
  font-size: 2.5rem;
}
footer hr {
  width: 100%;
  height: 0.6px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}
.footer-copyright {
  padding: 20px 0;
  color: #ffffff;
  text-align: center;
}

.footer-copyright span a {
  color: var(--seconday-color);
  cursor: pointer;
}

.footer-copyright span a:hover {
  color: #337ab7;
}

/* Scroll to Top */
.scroll_to_top {
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  right: 25px;
  bottom: 15px;
  background-color: var(--primary-shade-2);
  color: white;
  border-radius: 50%;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}
.scroll_to_top_show {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.scroll_to_top:hover {
  transition: all 0.3s ease-in;
  background-color: var(--seconday-color);
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/* -------------Contact Us Page ------------------ */
/* Contact Us Page Hero Section */
.contact-us-hero-section {
  position: relative;
  width: 100%;
}

.contact-us-hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    rgba(198, 47, 45, 0.1) 14%,
    rgba(27, 36, 43, 0.8) 94%
  );
}
.contact-us-hero-image img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center;
}

.contact-us-hero-text {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 40px;
  z-index: 15;
  font-size: 3.6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  line-height: 42px;
}
/* --------- Contact Us Section ----------- */
.contact-us-section {
  margin: 90px auto;
}

.warning-msg {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--primay-color);
  line-height: 25px;
  padding: 0 0 20px;
  text-align: center;
}
.contact-us-section-grid {
  display: flex;
  flex-direction: row;
  margin: 80px 0 20px 0;
  background-color: #fdfcfc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.15);
}

.contact-us-section-form {
  width: 65%;
  padding: 60px 40px 60px 60px;
}
.contact-us-section-form h2 {
  font-weight: 400 !important;
  font-size: 2.4rem;
  margin-bottom: 29px;
}
.contact-us-section-form form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contact-us-section-form form div > span {
  display: block;
  width: 45%;
}

.contact-us-section-form form label {
  text-transform: uppercase;
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 30px 0 10px 0;
}
.contact-us-section-form form label span {
  font-size: 2rem;
  color: var(--seconday-color);
}
.contact-us-section-form form input,
.contact-us-section-form form textarea {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  padding: 5px 10px 5px 0;
  width: 100%;
}

.contact-us-section-form form button {
  text-transform: uppercase;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  background: none;
  background-color: var(--primary-shade-2);
  color: #ffffff;
  outline: none;
  border: none;
  padding: 12px 24px;
  margin: 10px 0 10px 0;
  border-radius: 3px;
  transform: translateX(0);
  transition: transform 0.4s ease-in;
  cursor: pointer;
}
.contact-us-section-form form button:hover {
  transition: all 0.4s ease-in;
  transform: translateX(20px);
  background-color: var(--seconday-color);
}
.contact-us-section-grid-right {
  width: 35%;
  padding: 60px 60px 60px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--primay-color);
  margin: -15px 0;
  border-radius: 5px;
}
.contact-us-section-grid-right h2 {
  font-weight: 400 !important;
  font-size: 2.4rem;
  margin-bottom: 29px;
  color: #fff;
}
.contact-us-section-grid-right div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  margin-bottom: 40px;
}
.contact-us-section-grid-right h3 {
  font-weight: 600;
  font-size: 1.8rem;
}
.contact-us-section-grid-right h3 span {
  font-weight: 500;
  font-size: 1.6rem;
}
.contact-us-section-grid-right div i {
  color: #fff;
  font-size: 1.6rem;
  background-color: var(--seconday-color);
  padding: 17px 17px;
  border-radius: 50%;
  margin-right: 20px;
}
/*--------- Privacy Policy Page------ */
/* ---------Cookie Policy Page --------*/
/*--------- Right Not To Be Forgotten -------*/

.right-to-be-forgotten-section,
.privacy-policy-section,
.cookie-policy-section {
  margin: 70px auto;
}
.right-to-be-forgotten-section h1,
.privacy-policy-section h1,
.cookie-policy-section h1 {
  font-size: 3.2rem;
  color: var(--primay-color);
  font-weight: 800;
  margin-bottom: 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--seconday-color);
}
.right-to-be-forgotten-section h2,
.privacy-policy-section h2,
.cookie-policy-section h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--primay-color);
  margin: 38px 0 10px 0;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--seconday-color);
}

.right-to-be-forgotten-section p,
.privacy-policy-section p,
.cookie-policy-section p {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.right-to-be-forgotten-section p span,
.privacy-policy-section p span,
.cookie-policy-section p span {
  font-size: 1.8rem;
  font-weight: 800;
}
.right-to-be-forgotten-section a,
.privacy-policy-section a,
.cookie-policy-section a {
  color: var(--seconday-color);
}
.right-to-be-forgotten-section ul {
  font-size: 1.9rem;
  font-weight: 500;
  list-style: circle;
  padding-left: 50px !important;
  margin-bottom: 15px;
}
.right-to-be-forgotten-section ul li {
  padding-bottom: 2px !important;
  color: #525861;
}
.privacy-policy-section ol {
  font-size: 1.9rem;
  font-weight: 500;
  list-style: upper-roman;
  padding-left: 20px !important;
  margin-bottom: 15px;
}

.privacy-policy-section ol li {
  padding-bottom: 9px !important;
}
.privacy-policy-section ol li ul {
  font-size: 1.9rem;
  font-weight: 500;
  list-style: lower-alpha;
  padding-left: 40px !important;
  margin: 15px 0;
}

.privacy-policy-section ol li ul li {
  padding-bottom: 8px !important;
  color: #525861;
}
.privacy-policy-section ol li ul li span {
  color: var(--seconday-color);
}
/* ---------------------Shop Page------------------------ */
/* Specify Details Section */
.specify-details-section {
  padding: 100px 0;
}
.specify-details-section h4 {
  text-align: center;
  font-size: 1.5rem;
  color: #747170;
  font-weight: 700;
  text-transform: uppercase;
}
.specify-details-section h2 {
  text-align: center;
  font-size: 4.2rem;
  font-weight: 300;
  margin: 10px 0 40px 0;
  text-transform: uppercase;
}
.specify-details-section-gridbox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 60px;
}

.specify-details-section-gridbox-left {
  grid-column: 1 / span 3;
  width: 100%;
}
.specify-details-section-gridbox-left > div {
  width: 100%;
}
.specify-details-section-gridbox-left > div h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
}
.specify-details-section-gridbox-left > div p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 26px;
}
.specify-details-section-gridbox-left > div p span {
  color: var(--seconday-color);
}

.specify-details-form {
  margin-top: 20px;
}
.specify-details-form h5 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--seconday-color);
}
.specify-details-form-part-1,
.specify-details-form-part-2,
.specify-details-form-part-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specify-details-form-part-4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.specify-details-form-part-4 span {
  font-size: 1.7rem;
  font-weight: 600;
  padding-right: 10px;
}
.specify-details-form-part-1 > div,
.specify-details-form-part-2 > div,
.specify-details-form-part-3 > div {
  width: 47%;
  margin-bottom: 20px;
}
.specify-details-form div label {
  display: block;
  margin-bottom: 4px;
  font-size: 1.7rem;
  font-weight: 600;
}
.specify-details-form div input {
  width: 100%;
  outline: none;
  font-size: 1.6rem;
  padding: 6px 6px 3px 0;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  cursor: pointer;
}
.specify-details-form-part-1 div select,
.specify-details-form-part-3 div select {
  width: 100%;
  outline: none;
  font-size: 1.6rem;
  padding: 6px 6px 3px 0;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  cursor: pointer;
}

.specify-details-form-part-1 div select option,
.specify-details-form-part-3 div select option {
  background-color: var(--primay-color);
  color: var(--grey-shade-light);
  cursor: pointer;
}

/* Toogle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.specify-details-form-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}
.view-price-btn {
  outline: none;
  border: none;
  background-color: var(--seconday-color);
  color: var(--grey-shade-light);
  padding: 12px 22px;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 20px;
}
.add-more-btn {
  outline: none;
  border: none;
  background-color: var(--primay-color);
  color: var(--grey-shade-light);
  padding: 12px 22px;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 20px;
}

.remove-tyre-btn {
  outline: none;
  border: none;
  background-color: black;
  color: var(--grey-shade-light);
  padding: 12px 22px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

.specify-details-section-gridbox-right {
  grid-column: 4 / span 2;
}
.specify-details-section-gridbox-right div img {
  border-top: 20px solid var(--primay-color);
  border-bottom: 20px solid var(--primay-color);
}

/* Location Info Page */
/* Vehicle Info Page */
.other-details-section {
  position: relative;
  width: 100%;
  background-image: url(../assets/tyre\ tracks.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.other-details-section-container {
  margin: 80px auto;
  background-color: rgba(30, 33, 38, 0.991);
  padding: 30px 50px 10px 50px;
  color: var(--grey-shade-light);
  border-radius: 5px;
}
.other-details-section-container h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
  margin: 10px 0 40px 0;
  text-transform: uppercase;
  color: var(--grey-shade-light);
}
.other-details-section-container h4 {
  text-align: center;
  font-size: 1.5rem;
  color: #747170;
  font-weight: 700;
  text-transform: uppercase;
}

.progress-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.progress-section div {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-right: 2px solid var(--grey-shade-light);
}
.progress-section div:last-child {
  border-right: none;
}
.progress-section div hr {
  width: 60%;
  height: 3px;
  background-color: var(--seconday-color) !important;
  border: none;
  margin: 0 auto;
}
.progress-section div span {
  font-size: 2rem;
  display: block;
  font-weight: 400;
  padding: 15px;
  letter-spacing: 1px;
}
.progress-section div h3 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 5px;
}
.other-details-form {
  margin-top: 60px;
  max-width: 600px;
  width: 80%;
  margin: 60px auto 0 auto;
}

.other-details-form div label {
  text-transform: uppercase;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 30px 0 10px 0;
}

.other-details-form div input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  padding: 5px 10px 5px 0;
  width: 100%;
  font-size: 1.5rem;
  color: var(--grey-shade-light);
}
.other-details-form-btns {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-details-form-btns button {
  display: block;
  outline: none;
  border: none;
  margin-right: 20px;
  margin-bottom: 20px;
  background: none;
}
.other-details-form-btns button a {
  display: block;
  background-color: var(--seconday-color);
  color: var(--grey-shade-light);
  padding: 12px 50px;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.other-details-form-btns button a:hover {
  transition: all 0.3s ease-out;
  background-color: var(--grey-shade-dark);
  color: var(--seconday-color);
  padding: 12px 50px;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
}
/* Order Completion page */
.order-complete-status {
  text-align: left !important;
  padding: 60px 0;
  font-size: 1.8rem;
}
.order-complete-status h5 {
  font-size: 2.7rem;
  margin-bottom: 10px;
}

/* Summary Page */
.summary-section {
  background-color: rgba(30, 33, 38, 0.991);
  padding: 30px 50px;
  color: var(--grey-shade-light);
  border-radius: 5px;
}
.summary-section div {
  padding: 15px 0;
  border-bottom: 1px solid var(--grey-shade-light);
}
.summary-section:last-child {
  border-bottom: none;
}

.summary-section div > table tr {
  margin: 10px 0;
}
.summary-section div table tr th {
  width: 300px;
  text-align: left;
  display: block;
  padding: 5px 0;
  font-size: 1.7rem;
}

/* Gallery Page */
.Gallery-section {
  margin: 60px auto;
}
.Gallery-section h2 {
  text-align: center;
  font-size: 4.2rem;
  font-weight: 300;
  margin: 10px 0 40px 0;
  text-transform: uppercase;
}
.Gallery-section h4 {
  text-align: center;
  font-size: 1.5rem;
  color: #747170;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
.gallery-collection div img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 5px;
  cursor: pointer;
}

/* Add your regular styling here */

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.lightbox-container {
  width: 80%;
  height: 80%;
  position: relative;
}
.lightbox-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3.5rem;
  color: white;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: #212326;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  display: flex;
}

/* -----------About Page ------------*/
/* About Us Section */
.about-us-section {
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}
.about-us-left img {
  aspect-ratio: 4/3.5;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.about-us-right h2 {
  text-align: left;
  font-size: 3.2rem;
  font-weight: 300;
  margin: 10px 0 40px 0;
  text-transform: uppercase;
}
.about-us-right p {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.about-us-right button {
  outline: none;
  border: none;
  background: none;
  margin-top: 20px;
}
.about-us-right button a {
  background-color: var(--seconday-color);
  color: var(--grey-shade-light);
  padding: 12px 50px;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
}
.about-us-right button a:hover {
  border: 2px solid var(--seconday-color);
  background: none;
  color: var(--seconday-color);
}
.about-us-section span {
  color: var(--seconday-color);
  font-weight: 700;
}
/* Saftey Analysis */

.safety-analysis {
  margin: 40px auto;
  background-color: var(--grey-shade-light);
  padding: 30px 0;
}
.safety-analysis h2 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  margin: 10px 0 40px 0;
  text-transform: uppercase;
}
.safety-analysis h4 {
  text-align: center;
  font-size: 1.4rem;
  color: #747170;
  font-weight: 700;
  text-transform: uppercase;
}
.safety-analysis div p {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
/* Tyre-significance */
.tyre-significance {
  margin: 100px auto;
}
.tyre-significance h2 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  margin: 10px 0 40px 0;
  text-transform: uppercase;
}
.tyre-significance h4 {
  text-align: center;
  font-size: 1.4rem;
  color: #747170;
  font-weight: 700;
  text-transform: uppercase;
}

.tyre-significance-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
}

.tyre-significance-grid-left {
  position: relative;
  padding: 50px 50px 120px 50px;
  background-color: var(--primay-color);
  color: var(--grey-shade-light);
  border-radius: 5px;
}

.tyre-significance-grid-right {
  position: relative;
  padding: 50px 50px 120px 50px;
  background-color: var(--primay-color);
  color: var(--grey-shade-light);
  border-radius: 5px;
}

.tyre-significance-grid-left h3,
.tyre-significance-grid-right h3 {
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 50%;
  background-color: var(--seconday-color);
  padding: 15px 20px;
  font-size: 2.7rem;
  line-height: 30px;
}

.tyre-significance-grid-left b,
.tyre-significance-grid-right b {
  font-size: 1.8rem;
  margin-bottom: 7px;
  display: block;
}

.tyre-significance-grid-left p,
.tyre-significance-grid-right p {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.tyre-significance span {
  color: var(--seconday-color);
  font-weight: 700;
}
/*------- Services Page--------- */
.help-section {
  font-size: 2.4rem;
}

.choose-us-section div img {
  aspect-ratio: 4/5;
}

/* -- what we do -- */
.what-we-do-section {
  margin: 100px auto;
}
.what-we-do-section-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.what-we-do-section-grid-left,
.what-we-do-section-grid-right {
  width: 48%;
}
.what-we-do-section-grid-left h2 {
  font-size: 2.5rem;
  color: #747170;
  margin-bottom: 20px;
  font-weight: 700;
}
.what-we-do-section-grid-left h3 {
  font-size: 2.2rem;
  color: var(--primay-color);
  margin-bottom: 20px;
}
.what-we-do-section-grid-left p {
  font-size: 2rem;
  color: var(--primay-color);
  margin-bottom: 20px;
}
.what-we-do-section-grid-left button {
  outline: none;
  border: none;
  background: none;
  display: block;
  margin-top: 40px;
}
.what-we-do-section-grid-left button a {
  cursor: pointer;
  background-color: var(--seconday-color);
  padding: 12px 50px;
  color: var(--grey-shade-light);
  font-weight: 700;
  font-size: 1.6rem;
}

.what-we-do-section-grid-right div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.what-we-do-section-grid-right div ul li {
  padding: 4px 0;
}
.what-we-do-section-grid-right div ul li i {
  color: var(--seconday-color);
  margin-right: 5px;
}

/* Cart page */
.cart-section {
  margin: 80px auto;
}

.cart-section h2 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  margin: 10px 0 40px 0;
  text-transform: uppercase;
}

.cart-section h4 {
  text-align: center;
  font-size: 1.4rem;
  color: #747170;
  font-weight: 700;
  text-transform: uppercase;
}
.cart-section > p {
  font-size: 2rem;
  color: var(--primay-color);
  text-align: center;
}

.cart-section p b {
  color: var(--seconday-color);
}
.tye-cart-container {
  margin: 30px auto;
}
.tyre-in-cart {
  background-color: var(--primay-color);
  color: var(--grey-shade-light);
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto 30px auto;
  border-radius: 5px;
}
.tyre-in-cart-des {
  width: 75%;
}
.tyre-in-cart-des table tr th {
  padding: 5px 5px 5px 0;
  text-align: left;
}
.tyre-in-cart-des table tr td {
  padding: 5px 35px 5px 10px;
  text-align: left;
}
.tyre-availbility {
  width: 25%;
  border-left: 2px solid var(--grey-shade-light);
  padding: 20px 15px;
}

.if-available {
  display: none;
}
.if-available h3 {
  font-size: 2rem;
  font-weight: 500;
}

.if-available b {
  display: block;
  font-size: 3.2rem;
  color: var(--seconday-color);
}

.if-available span {
  display: block;
  color: #c0c0c0;
}
.if-not-available {
  /* display: none; */
  color: var(--grey-shade-light);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--seconday-color);
  font-size: 1.6rem;
}
.cart-total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  width: 90%;
  margin: 20px auto;
}
.call-out-charges {
  background-color: var(--primay-color);
  color: var(--grey-shade-light);
  padding: 25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}

.total-charges {
  background-color: var(--primay-color);
  color: var(--grey-shade-light);
  padding: 25px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}

.call-out-charges div:first-child,
.total-charges div:first-child {
  padding: 0 15px;
  width: 70%;
}

.call-out-charges div:first-child h3,
.total-charges div:first-child h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 8px;
}
.call-out-charges div:first-child span {
  display: block;
  color: #c0c0c0;
}
.call-out-charges div:nth-child(2),
.total-charges div:nth-child(2) {
  width: 40%;
  border-left: 2px solid var(--grey-shade-light);
  padding: 20px 15px;
}
.call-out-charges div:nth-child(2) b,
.total-charges div:nth-child(2) b {
  display: block;
  font-size: 3.2rem;
  color: var(--seconday-color);
}

.call-out-charges div:nth-child(2) span,
.call-out-charges div:nth-child(2) span {
  display: block;
  color: #c0c0c0;
}
.timing-msg {
  color: var(--seconday-color) !important;
  font-size: 1.7rem !important;
  width: 90%;
  margin: auto;
}
